    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
        
        html {
            font-size: 22px;
        }

        body {
            background-color: #333;
            color: whitesmoke;
        }

        a{
            color: aliceblue;
        }

        a :visited{ 
            color: lightgray;
        }

         a:hover, a:active{
            color: #eee;
        }

table, tr, th, td, caption {
    border: 3px solid #100022;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}


/* Style for the button link */
.btn {
     /* display: flex; */
    display: inline-block;
    text-decoration: none;
    background-color: #185556; /* Green color */
    color: white;
    padding: 12px 24px;
    border-radius: 16px;
    font-size: 22px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
.btn:hover {
    background-color: #003255;
    transform: scale(1.05);
}

/* Active (when clicked) */
.btn:active {
    background-color: #3e8e41;
}

h1 {
    font-family: 'Atma';
    font-size: 30px;
    color: #ffffff;
}
.hidden-text{
    color: rgb(0, 0, 0);
}


.hide {
    display: inline-block;
    text-decoration: none;
    background-color: #77c0c1; 
    color: rgb(0, 0, 0);
    padding: 14px 30px;
    border-radius: 2px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    justify-content: center;

}

.data-align{
    /* display: flex;
    justify-content: center;     
    align-items: center;  */
    text-align: center;        
    vertical-align: middle; 
}

.maintable {
    border: 2px dashed blueviolet;
    margin-top: 2rem;
    margin-left: 8rem;
    margin-right: 2rem;
    padding: 10em;
}

/* h1{
    /* border: 2px dashed rgb(224, 255, 241); */
    margin-left: 8rem;
    margin-right: 25rem;
} */


/* .atma-light {
  font-family: "Atma", system-ui;
  font-weight: 300;
  font-style: normal;
}

.atma-regular {
  font-family: "Atma", system-ui;
  font-weight: 400;
  font-style: normal;
}

.atma-medium {
  font-family: "Atma", system-ui;
  font-weight: 500;
  font-style: normal;
}

.atma-semibold {
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
}

.atma-bold {
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
} */


.tablecaption{
    font-family: 'Atma';
}